<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Class Central Homepage</title>
  </head>
  <body>
    <h1>All Anchor Tags Translated to Hindi</h1>
    <ul>
      <% for (let i = 0; i < anchorTags.length; i++) { %>
        <li>
          <a href="<%= anchorTags.eq(i).attr('href') %>">
            <%= translations[i] %>
          </a>
        </li>
      <% } %>
    </ul>
  </body>
</html>
